.container{
width: 1440px;
position: relative;
padding: 70px;
background-color: rgb(4, 94, 56);
color: hwb(0 6% 94%);
font-weight: 400, 700;
font-family: (https://fonts.google.com/specimen/Outfit) ;
}